<!DOCTYPE html>
<html>
    <head>
        <title>NodeMod - Home</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e6cce9c8da.js" crossorigin="anonymous"></script>
        <%- include('../public/partials/functions.ejs') -%>
        <link rel="icon" href="https://o.remove.bg/downloads/e8e1b41b-0b9b-4eff-8215-988408a78782/logo_nodemod__1_-removebg-preview.png">
        <style>
            body {
                /*background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(26, 26, 26) 100%) */
                background-color: #141414; 
                font-family: 'Roboto', sans-serif;
                color: white;
            }

            .header {
                border-radius: 10px;
                width: 100%;
                height: 50px;
                text-align: center;
            }

            .headerTitle {
                position: relative;
                float: left;
            }

            .headerButton {
                background-color: transparent;
                border-radius: 10px;
                color: white;
                width: 160px;
                height: 50px;
                font-size: 16px;
                border-color: transparent;
                transition: 0.2s;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }

            .headerButton:hover {
                transition: 0.3s;
                background-color: #7289da;
                cursor: pointer;
            }

            .titleDivContainer {
                padding-top: 80px;
                text-align: center;
            }

            .titleDiv {
                border-radius: 10px;
                width: 100%;
                height: 350px;
                text-align: center;
            }

            .title {
                padding-top: 10px;
                text-align: center;
                font-size: 80px;
            }

            .description {
                padding-top: 10px;
                font-size: 35px;
            }

            .botsButton {
                background-color: rgb(90, 90, 233);
                border-radius: 10px;
                color: white;
                width: 160px;
                height: 60px;
                font-size: 25px;
                border-color: transparent;
                transition: 0.2s;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }

            .botsButton:hover {
                transition: 0.3s;
                background-color: #7289da;
                cursor: pointer;
            }

            .container {
                padding-top: 50px;
            }

            .background {
                border-radius: 50px;
                background-color: #080808;
                width: 100%;
                height: 336px;
                text-align: center;
            }

            .whyTitle {
                padding-top: 10px;
                font-size: 50px;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <button class="headerButton" onclick="reload()"><i class="fas fa-home"></i> Home</button>
            <button class="headerButton" onclick="openDashboard()"><i class="fas fa-desktop"></i> Dashboard</button>
            <button class="headerButton" onclick="openAuth()"><i class="fas fa-user"></i> Log In</button>
        </div>

        <div class="titleDivContainer">
            <div class="titleDiv">
                <h1 class="title">NodeMod <i class="fab fa-discord"></i></h1>
                <p class="description">Build and host the best Discord bots. Fast & Easy.<br>NodeMod is the best bot hosting solution</p>
                <button class="botsButton" onclick="openAuth()">Get Started</button>
            </div>
        </div>

        <div class="container">
            <div class="background">
                <h1 class="whyTitle">So why should you use it?</h1>
                <p class="description">NodeMod offers a free, easy to use and performant Bot Hosting.
                    There are lot of default <br>customizations you can add to the bot: Moderation, Reaction Roles and many other!
                    <br>You can even code your own commands using JavaScript if you want...
                    <br>So just click on "Get Started" to get started right now and create your own bot!
                </p>
            </div>
        </div>
    </body>
</html>
